Package: com.rna.onlycontacts
Name: OnlyContacts
Version: 2.1.0
Architecture: iphoneos-arm64e
Description: 只允许通讯录里的号码呼入，陌生号码直接打不进（注入 callservicesd 的来电过滤器）。
Maintainer: RNA
Author: RNA
Section: Tweaks
Depends: preferenceloader
